body {
    font-family: "Lato", sans-serif;
    overflow: auto;
  }
  
  .sidebar {
    height: 100%;
    overflow-y: hidden;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: none;
  }
  
  #sidebartop{
    display: flex;
    padding:15px 0 15px 40px;
    background-color:#5177A5;
    height: 35px;
  }

  #sd1{
    display: flex;
    
    margin-bottom: 10px;
  }
  #texsiz{
    font-size: 13px;
  }
  #db{
    color:#bbb6b6;
    font-weight: 500;
    padding-left: 6px;
    font-size: 12px;
  }
  #db:hover{
    color: white;
  }

  .sidebar a {
    padding: 8px ;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1 ;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: none;
  }
  
  .openbtn {
    font-size: 17px;
    cursor: pointer;
    background-color:#4C78AD;
    color: white;
    border: none;
  }
  
  #topnav{
    width: 100%;
    background-color:#4C78AD;
    color: white;
    display: flex;
    padding: 10px 15px;
    font-size: 17px;
    justify-content: space-between;
  }
  #topnav1{
      flex: 1;
      max-width: 30%;
      display: flex;
      justify-content: space-evenly;
      
  }
  #tn1{
      border-radius: 50%;
  }

  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 15px;
  }
  #mainsub{
    display: flexbox;
    width: 100%;
    padding:15px 18px 5px;
    background-color: rgb(217, 230, 241);
  }
  #main1{
    display: flex;
    justify-content: space-between;
    height: 15px;
    width: 100%;
  }
  #main1right{
    flex:1;
    max-width: 18%;
    display: flex;
    justify-content: space-evenly;
    font-weight:460;
  }
  #main2{
    display: flex;
    padding: 7px 0 7px 0;
    margin-top: 20px;
    justify-content: start;
  }
 
 
 #text4media{
   display: flex;
   justify-content: center;
   font-size: large;
   color: white;
   background-color: #345883;
 }
  
  @media screen and (max-width:1200px){
    #main{max-width: 100%; position: absolute;}
    #main1{flex-direction: column;}
    #main1right{margin-top:6px;margin-bottom:5px;max-width:400px;height:18px;background-color: #d1cece; justify-content: left;font-size: smaller;}
    #main1right img{width: 16px; height: 11px;}
    #main2{flex-direction: column;}
    #main2 img{width: 400px;margin-bottom: 10px;}
    #main2 :nth-of-type(1){margin-top: 15px;}
    #main3{width: 200px;}
    #main4{flex-direction: column;}
    #topnav1 #name{display: none;}
    #main3{width:400px;height: 300px;}
    #main4 :nth-of-type(1){width: 400px; height: 300px;}
    #main4a{margin-top: 10px;}
    #text4media{width: 100%; height: 35px; padding-top: 7px; position: absolute;}
  }

  @media screen and (min-width:1200px){
    #main3{display:flex; flex-flow: row wrap;width: 1225px;}
    #main4a{margin-left: 25px;}
    #text4media{display: none;}
  }

  @media screen and (min-width:460 and max-width:768 ){
    #main2 #main3 #main4 img{ width: auto;}
  }

  @media screen and (min-width:960){
    #main3 img{width: 20px;}
  }


  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }