.first{
    padding-left: 50px;
    padding-right: 50px;
}
#green{
    background-color: rgb(236, 230, 230);
}
#a{
    background-color: #fbf7f5;
}
.b{
    color: rgb(95, 95, 238);
    font-weight: bold;
}
.a{
    color: rgb(145, 141, 141);
    font-weight: 400;
    font-size: small;
}
.a1{
    font-weight: 700;
}
.pi{
    background-color: #e8109d;
}
.pi1{
    color:#e8109d;
    font-size: larger;
}
.po{
    font-size: larger;
}
#data{
    color: blue;
    font-size: small;
}
#bl{
    color: blue;
}
#c1{
    color: #969494;
    font-size: medium;
}
.footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: auto;
   
}

   

