body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8W8oCOoaQ7aKzM3MiUdoEzb6mJP69jhX0kw&usqp=CAU);
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: black;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content h4 {
    color: rgb(202, 39, 148);
}   

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    background: #f5a9c3;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #ee47bc;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
    color: #47d1e9;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}

.navbar-right{
    place-items: start end;
    
} 

.dropdown-menu {
    background: #fab2cb;
}
.dropdown-item {
    color:white;
}   

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}




